<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="1" android:versionName="1.0" package="net.ourweb.KenoTracker1">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="net.ourweb.KenoTracker1" android:icon="@drawable/Icon"></application>
</manifest>